body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    background-color: darkgray;
    padding: .5rem 2rem;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header h1, header h2 {
    margin: 0;
}

main {
    grid-row: 2 / 3;
    padding: 2rem;
}

footer {
    grid-row: 4;
    align-self: end;
    background-color: lightgray;
    padding: 2rem;
}

.analytics {
    background-color: darkgray;
    padding: 50px;
    text-align: center;
    height: 400px;
}

.emergency {
    background-color: darkgrey;
}

.emergency h3 {
    text-align: center;
    padding: 1rem;
}

form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
    padding: 1rem;
}

label {
    padding: .25rem 0;
}

textarea {
    height: 100px;
}

input {
    margin: .5rem 0;
    width: fit-content;
}

button {
    margin-bottom: 1rem;
    width: 145px;
}