body {
    margin: 0;
}

.login_form {
    background: gray;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    margin: 0 auto;
    width: fit-content;
}

.login_form h2 {
    grid-column: 1 / span 3;
    justify-self: center;
}

label {
    grid-column: 1 / 2;
    justify-self: flex-end;
}

input, button {
    grid-column: 2 / 3;
}

button {
    margin-bottom: 20px;
}

header {
    text-align: center;
}

.demo_creds {
    background: lightgray;
    text-align: center;
    margin-top: 40px;
    padding: 50px;
}

footer {
    background: darkgray;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 50px;
    text-align: center;
}